<app-header></app-header>






<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main class="p-4">
    <div class="mb-3 w-25 row">
        <label class="d-flex justify-content-end col-sm-3 col-form-label" for="">Theme:</label>
        <div class="col-sm-9">
            <select (change)="changeTheme()" [(ngModel)]="selectedTheme" class="form-select">
                <option *ngFor="let theme of themes" [value]="theme.value">{{theme.title}}
                </option>
            </select>
        </div>
    </div>
    <router-outlet></router-outlet>
</main>





<app-footer></app-footer>