<h1>Customers (<span>{{customers.length}}</span>)</h1>

<div>
    <input [(ngModel)]="searchFieldValue" type="text"
        placeholder="Search by name, email, country">
    <button (click)="exportCustomersData()">Export</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
                <button (click)="sortCustomers('name')">{{displaySort('name')}}</button>
            </th>
            <th>
                Email
                <button (click)="sortCustomers('email')">{{displaySort('email')}}</button>
            </th>
            <th>Phone</th>
            <th>
                Country
                <button
                    (click)="sortCustomers('country_name')">{{displaySort('country_name')}}</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.country_name}}</td>
        </tr>
    </tbody>
</table>