<!-- <h2 class="my-4 py-4">
    Customers <small class="text-secondary">({{customersTotal()}})</small>
</h2> -->

<app-page-title [totalItems]="customersTotal()" [title]="'Customers'"></app-page-title>
<div class="section-bg p-3">
    <div class="d-flex mb-4">
    <div  class="me-auto p-2">
        <span class="deleteicon">
            <input class="form-control" (keydown)="findCustomer($event)" [(ngModel)]="searchFieldValue" type="text"
                placeholder="Search">

            <i (click)="clearSearch()" class="bi-x-lg"></i>
        </span>
    </div>
       <div class="p-2">
        <app-export (buttonClicked)="exportCustomersData()"></app-export>
        </div>
        <div class="p-2">
            <button (click)="toggleForm()" class="btn btn-primary">
                <i class="bi-person-plus pe-2"></i>
                Add Customer
            </button>
        </div>
</div>

<div *ngIf="showForm">
    <form [formGroup]="customerForm" (ngSubmit)="onSumbit()">
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input formControlName="name" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Phone</label>
            <input formControlName="phone" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Country</label>
            <select formControlName="country_id" class="form-select">
                <option *ngFor="let country of countries" [ngValue]="country.id">
                    {{country.name}}</option>
            </select>
        </div>
        <button [disabled]="!customerForm.valid" type="submit"
            class="btn btn-primary">Add</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
                <button (click)="sortCustomers('name')" class="btn btn-default">
                    <i [ngClass]="displaySort('name')"></i>
                </button>
            </th>
            <th>
                Email
                <button (click)="sortCustomers('email')" class="btn btn-default">
                    <i [ngClass]="displaySort('email')"></i>
                </button>
            </th>
            <th class="align-middle">Phone</th>
            <th>
                Country

                <button (click)="sortCustomers('country_name')" class="btn btn-default">
                    <i [ngClass]="displaySort('country_name')"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone | phone}}</td>
            <td>{{customer.country_name}}</td>
        </tr>
    </tbody>
</table>
</div>



