
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input #emailField formControlName="email" type="email" class="form-control">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control">
    </div>
    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button>
</form>

<div>
    <a routerLink="/signin-component" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="">Create New Account</a>
</div>